div.canvas{
  width: 100%;
  height: 100%
}

div.canvas *{
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.canvas .orange-artboard > .orange-artboard-title {
  margin: 0;
  line-height: 40px;
  color: white;
  top: -40px;
}

div.canvas > .selector{
  border: 1px solid black;
  pointer-events: none;
}

div.canvas > .new-item {
  border: 1px solid black;
  pointer-events: none;
}