
.detail-fill > .sketch-picker {
  margin-top: 10px;
  z-index: 99;
  background: transparent !important;
  padding: 5px !important;
}

.detail-fill > .sketch-picker > .flexbox-fix > div > span > div{
  border-radius: 0px !important;
  border: 1px solid white;
}

.detail-fill > .sketch-picker > .flexbox-fix input {
  background: transparent;
  border-radius: 0px !important;
  border: 1px solid white;
  color: white;
  height: 20px;
}

.detail-fill > .sketch-picker > .flexbox-fix input+span{
  color: white !important;
}

.detail-fill > input {
  padding-left: 25px;
  box-sizing: border-box;
}

.detail-fill > span {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 30px;
}